body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.site_title {
    text-align: center;
}
